body{
    margin: 0px;
    padding: 0px;
 }
 
 .bar1{
     width: 100%;
     height: 60px;
     background-color: white;
     position: fixed;
     z-index: 10;
     box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
 }
 .logo{
     float: left;
     height: 60px;
     width: 70px;
 }
 .log{
 width: 70px;
 height: 60px;
 }
 
 
 .menu{
     float: right;
     height: 60px;
 }
 
 i{
 font-size: xx-large;
 position: relative;
 right: 20px;
 top: 15px;
 }
 
 .grant_T{
     display: flex;
     justify-content: center; 
     font-family: "Rowdies";
     z-index: 5;
    position: absolute;
    left: 22%;
    top: -15%;
 }
 .grant_T1{
     position: relative;
     font-family: sans-serif;
     z-index: 5;
    position: absolute;
    top: 8%;
    left: 8%;
 }
 
 
 .image1{
     height: 200px;
    width: 100%;
 }
 
 .div_image1{
     width: 100%;
     z-index: 5;
     position: absolute;
   top:90px;
  
 }
 .text1h4{
     font-weight: bold;
     z-index: 5;
    top: 280px;
    position: relative;
  
    text-align: center;
 }
 
 .text1{
     font-weight: bold;
     z-index: 5;
 
 
 }
 .lien{
     padding: 10px;
     color: white;
     background: rgb(244, 108, 4);
    width: 93%; 
    display:inline-block;
    margin-top: 5px;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
 
 }
 
 #menu{
    position: fixed;
     background-color: rgb(9, 9, 82);
     width: 90%;
     height: 245px;
 z-index:10 ;
 left:5%;
 top: 10%;
 
 
   
 }
 .centre{
     display: flex;
     justify-content: center;  
     position: relative;
     top: -240px;
     font-family: "Quicksand";
     animation: fade-in 1s ease-in-out;
 }
 
 a{
     text-decoration: none;
     color: black;
 }
 
 footer{
     width: 100%;
     background-color: rgb(45, 40, 40);
     height: 300px;
     position: relative;
     top: 350px;
     color: white;
     font-family: "Quicksand";
     text-align: center;
 }
 
 table{
     display: flex;
     justify-content: center;  
 }
 .iminf{
    /* background-color:#f9f9f9;
    background-color: white;
     width: 160px;
     height: 160px;
     box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
     border-radius: 13px;
     */
     
 }
 .nomP{
     
 font-size: 20px;
 font-family: "Quicksand";
 color:rgb(62, 62, 62);
 
 }
 
 .desc{
 
 }
 

 /*
 .exp{
     z-index: 7;
     
  float: right;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
 
 
  width: 150px;
  height: 150px;
 text-align: center;
  z-index: 7;
 box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
 border-radius: 13px;
 position: relative;
   left: 50%;
   top: -51%;
 }*/
 
 .iminf{
   /*  background-color:#f9f9f9;*/
     background-color: white;
      width: 90%;
      height: 250px;
      
      text-align: center;
     
  }

.description{
    font-family: "Quicksand";
    position: relative;
    top: -20px;
}

  .iminf_clic{

    background-color: white;
    width: 90%;
    height: 250px;
    text-align: center;
    position: relative;
    top: -170px;

  }
 
  
 .contenu{
     position: relative;
      top: 250px;
      width: 100%;
      display: flex;
      justify-content: center;  
      margin-top: 5px;
      box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
     
  }
 .pub_clic{
    position: relative;
    /*
    width: 150px;
    height: 150px;
    border-top-left-radius: 13px;
    border-top-right-radius: 13px;
*/


    width: 250px;
    height: 250px;
 }

 .pub{
     position: relative;
     /*
     width: 150px;
     height: 150px;
     border-top-left-radius: 13px;
     border-top-right-radius: 13px;
 */
 
 
     width: 150px;
     height: 150px;
 
 
 }
 
 .corps{
     position: relative;
     top: 100%;
     margin-top: 100px;
 }
 
 /*
 .test1{
  
     width: 100%;
     height: 300px;
     background-color: aqua;
 }
 
 .b1{
     background-color: blue;
     float: left;
     width: 150px;
     height: 150px;
 border-radius: 13px;
 }
 
 .b2{
     background-color: brown;
     float: right;
     width: 150px;
     height: 150px;
 
     z-index: 7;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 13px;
   
 }*/
 
 
 
 @keyframes fade-in {
     from { opacity: 0; } /* Element is initially transparent */
     to { opacity: 1; } /* Element fades to full opacity */
   }
 
 /* partie ecran bas */
 
 @media screen and (max-width: 319px){
     .bar1{
         width: 100%;
     }
     .grant_T{
         width: 90%;
         font-size: 20px;
      top: -1px;
    left: 20px;
     }
 
     .grant_T1{
       font-size: 90%;
       font-size: 10px;
     }
 
 
     }
 
 
   
 
 /* fin partie ecran bas */
 
 
 /* partie grand ecran
 @media screen and (min-width: 430px){
 body{
     background-color: black;
 }
 
 } */
 
 
